* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 1em;
}

table {
    table-layout: fixed;
    width: 90%;
}

table td {
    padding: 0.5em;
    padding-bottom: 1em;
    word-wrap: break-word;
}

table td.key {
    width: 200px;
    vertical-align: top;
}

table textarea {
    width: 100%;
}